{% extends "admin/base.twig" %}

{% block page_title %}
	Upload CSV
{% endblock %}

{% block topbar %}
    <div class="heading">
        <div class="container">
            <h1><i class="fa fa-cogs"></i> Upload CSV for _____ term</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
	<ul class="nav nav-pills">
		<li>
	    	<a href="{{ constant('URL') }}admin/terms">Update Institution Terms</a>
		</li>
		<li>
			<a href="{{ constant('URL') }}admin/users">Update Institution Users</a>
		</li>
	</ul>

	<form action="{{ constant('URL') }}admin/import" class="form-horizontal" enctype="multipart/form-data"
       method="post">
       <h2>Import term data</h2>
       {% if terms %}
       	{% include '_templates/term_select.php' %}
       {% endif %}
		
		<button type="submit" class="btn btn-default">Next</button>
	</form>


{% endblock %}