{% extends "_templates/base.twig" %}

{% block page_title %}
	Upload CSV
{% endblock %}

{% block topbar %}
    <div class="heading">
        <div class="container">
            <h1><i class="fa fa-cogs"></i> Unauthorized</h1>
        </div>
    </div>
{% endblock %}

{% block masthead %}
{% endblock %}

{% block content %}
	You are unuathorized or your session has expired. Relaunch from Canvas.


{% endblock %}