{% extends "_templates/base.twig" %}

{% block masthead %}
<div class="container">
	<form role="form" class="form-inline">
		<input name="url" value="{{ _app.request.url }}" type="hidden">

		<div class="form-group">
			{% include '_templates/term_select.php' %}
		</div>

		<button type="submit" class="btn btn-default">Retrieve Data</submit>
	</form>
</div>
{% endblock %}