{% extends "reports/_template.twig" %}
{% block page_title %}
	Course LTI Dump
{% endblock %}
{% block topbar %}
    <div class="heading">
        <div class="container">
            <h1><i class="fa fa-cogs"></i> Course LTI Dump</h1>
        </div>
    </div>
{% endblock %}
{% block content %}

<pre>
{{ dump(report_data) }}
</pre>

{% endblock %}